USE [master]
GO
/****** Object:  Database [IT_Arıza_Takip]    Script Date: 19.01.2026 14:21:46 ******/
CREATE DATABASE [IT_Arıza_Takip]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IT_Arıza_Takip', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\IT_Arıza_Takip.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IT_Arıza_Takip_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\IT_Arıza_Takip_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IT_Arıza_Takip].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IT_Arıza_Takip]
GO
/****** Object:  Table [dbo].[ArizaKaydi]    Script Date: 19.01.2026 14:21:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArizaKaydi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Kayitİsim] [nvarchar](450) NOT NULL,
	[ArizaTürü] [int] NOT NULL,
	[ArizaDetay] [nvarchar](max) NOT NULL,
	[ArizaTarih] [datetime] NOT NULL,
	[GüncellemeTarih] [datetime] NULL,
	[ÇözülmeDurumu] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArizaTurleri]    Script Date: 19.01.2026 14:21:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArizaTurleri](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TurAd] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ArizaKaydi] ON 

INSERT [dbo].[ArizaKaydi] ([ID], [Kayitİsim], [ArizaTürü], [ArizaDetay], [ArizaTarih], [GüncellemeTarih], [ÇözülmeDurumu]) VALUES (1, N'Ahmet Yılmaz', 1, N'Ödeme sayfasında 404 hatası.', CAST(N'2026-01-10T10:30:00.000' AS DateTime), CAST(N'2026-01-11T09:00:00.000' AS DateTime), 2)
INSERT [dbo].[ArizaKaydi] ([ID], [Kayitİsim], [ArizaTürü], [ArizaDetay], [ArizaTarih], [GüncellemeTarih], [ÇözülmeDurumu]) VALUES (2, N'Ayşe Demir', 2, N'Ofis yazıcısı kağıt sıkıştırıyor.', CAST(N'2026-01-12T14:15:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[ArizaKaydi] ([ID], [Kayitİsim], [ArizaTürü], [ArizaDetay], [ArizaTarih], [GüncellemeTarih], [ÇözülmeDurumu]) VALUES (8, N'Deniz Görür', 1, N'Virus Girdi', CAST(N'2026-01-13T00:00:00.000' AS DateTime), CAST(N'2026-01-15T00:00:00.000' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[ArizaKaydi] OFF
GO
SET IDENTITY_INSERT [dbo].[ArizaTurleri] ON 

INSERT [dbo].[ArizaTurleri] ([ID], [TurAd]) VALUES (1, N'Yazılım')
INSERT [dbo].[ArizaTurleri] ([ID], [TurAd]) VALUES (2, N'Donanım')
INSERT [dbo].[ArizaTurleri] ([ID], [TurAd]) VALUES (3, N'Network')
SET IDENTITY_INSERT [dbo].[ArizaTurleri] OFF
GO
USE [master]
GO
